accelerate
appdirs
bitsandbytes
black
black[jupyter]
datasets
fire
gradio
sentencepiece
torch
torchvision
torchaudio
wandb
galore-torch
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
# For CUDA-enabled PyTorch installation:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
